/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
    height: 150px;
}

/* main */
.container-main {
    width: 100%;
    margin: 15px 0;
}
/* CLEARFIX */
.container-main:after {
    content: '';
    display: table;
    clear: both;
}

/* entrambi in left  */
.sidebar, 
.content {
    float: left;
}

.sidebar {
    /* width: 30%; */
    /* impatto dovuto al cambio di ingombri per aggiunta nuova colonna*/
    width: 28%;
}

.content {
    /* width: 68%; 
       margin-left: 2%;
    */
    /* impatto dovuto al cambio di ingombri per aggiunta nuova colonna*/
    width: 40%;
    margin: 0 2%;
}

/* blocchi contenuto/widget opzionali */
.sidebar .widget {
    margin-bottom: 20px;
  } 


/* footer */
footer {
    width: 100%;
    height: 100px;
}




/* regole di DEBUG */

header {
    background: yellow;
}

.container-main {
    /* quando togliamo altezza fissa, cosa succede se ci dimentichiamo il clearfix? */
    height: 400px; 
}

.sidebar {
    background: rgb(211, 145, 227);
    height: 400px; 
}

.content {
    background: purple;
    height: 400px; 
}

/* blocchi contenuto/widget opzionali */
.sidebar .widget {
    height: 80px;
    background-color: rgb(238, 199, 238);
  } 

footer {
    background: lightblue;
}