* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rettangolo {
    background-color: blue;
    height: 200px;
}

@media screen and (max-width: 479px) {
    .rettangolo {
        background-color: green;
    }
}

@media screen and (min-width: 1441px) {
    .rettangolo {
        background-color: red;
    }
}