* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .live-1,
  .live-2,
  .live-3 {
    margin: 20px;
  }
  
  /* Live 1 */
  .live-1 .red {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: red;
  }
  
  .live-1 .square {
    width: 50px;
    height: 50px;
  }
  
  .live-1 .blue {
    background-color: blue;
  }
  
  .live-1 .green {
    position: absolute;
    bottom: 0;
    left: 100%;
    /* alternativa */
    /* right: -50px; */
    background-color: green;
  }
  
  /* Live 2 */
  .live-2 .red {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: red;
  }
  
  .live-2 .square {
    width: 100px;
    height: 100px;
  }
  
  .live-2 .blue {
    background-color: blue;
  }
  
  /* per vedere position */
  .live-2 .pos-right {
    position: absolute;
    top: 0;
    right: 0;
      /* ma possiamo usare anche il float, se già visto */
    /* float: right; */
  }
  /* in questo caso andrà in left il primo */
   .live-2 .square:first-child{
      /* float: left; */
  } 
  
  .live-2 .pos-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  /* Live 3 */
  .live-3 .green {
    width: 900px;
    height: 600px;
    background-color: green;
  }
  
  .live-3 .blue {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: blue; 
    /* volendo in alternativa con float se già visto
     (in quel caso ricordiamo che andrebbe il clearfix a green) */
    /* float: left; */
  }
  
  .live-3 .red {
    width: 50px;
    height: 50px;
    background-color: red;
  }
  
  .live-3 .blue:first-child .red:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .live-3 .blue:last-child .red:last-child {
    margin-left: 10px;
    /* volendo possiamo avere lo stesso effetto con relative, 
    ma ingombro con comportamento diverso */
    /* position: relative;
    left: 10px; */
  }