/* general rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* header */

#main-header {
  background-color:rgb(205, 205, 205);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: center; /* centratura orizzontale blocco menù */
  z-index: 500; /* diamo uno z-index alto abbastanza per evitare che parti di contenuto finiscano sopra, ma lasciasmo spazio per eventuale altro (es. modali, overlay, etc.)*/
}

  /* menu */
#main-header nav{
 display: inline-block;
}

#main-header nav li{
  margin: 0 5px;
  display: inline-block;
  line-height: 70px; /* centratura verticale voci menù (sul li così poi posso poi espandere l'area sensibile del link)*/
}

#main-header nav li a{
  display: inline-block; /* espansione area sensibile sul "li" */
  padding: 0 5px; /* espansione area sensibile orizzontale */
  text-decoration: none;
  color:royalblue;
}

#main-header nav li a:hover{
  background-color: #999;
}

#main-header nav li a.here{ /* definisce la pagina in cui è l'utente (classe aggiuntiva su centralizzazione)*/
  border-bottom: solid 3px rgb(103, 234, 103);
}

/* logo */
#main-header nav .logo img {
 vertical-align: middle;/* centratura verticale img logo */
 width: 111px; /* PARTE ACCESSORIA da spiegare (se lo si ritiene utile): resize non necessario se l'img è fatta ad hoc e non richiede alte risoluzioni (es. retina)*/
 height: auto;
}

#main-header nav .logo a:hover{
  background-color: transparent; /* tolgo effetto hover a logo */
}


/* contenuto (per sottolineare la funzionalità di header fisso) */

main {
  margin-top: 100px; /* da aggiungere perchè non finisca da subito sotto l'header fixed (qualcosa in più di altezza header per dare spazio)*/
  padding: 10px;
  background-color: whitesmoke;
}

section {
  margin-bottom: 50px;
}

section p {
  margin-bottom: 30px;
  line-height: 150%;
}