* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1070px;
  margin: 50px auto;
}

.image-container {
  float: left;
  margin: 20px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  filter: grayscale();
}

.image-container:hover img {
  filter: none;
}