.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  margin: 40px 0;
  text-align: center;
}

.product {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.heart {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: red;
}
.product:hover .heart,
.product:active .heart,
.product:focus .heart{
  display: block;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: 20px;
  background-color: green;
}
/* mostriamo come la selezione di due classi sia più forte di una sola */
.discount.discount-red {
  background-color: red;
}


