.container {
  max-width: 1170px;
  margin: 0 auto;
}

.box {
  background-color: paleGreen;
  height: 300px;
  margin: 50px auto;
}

.title {
  color: blue;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}

/* parte di interazione */

/* parte di cambio figlio */
.box:hover .title {
  color: red;
}

/* parte di cambio padre 
(questa parte di può volendo aggiungere dopo
per rimancare che prima abbiamo lavorato sul figlio
e anche che nulla ci vieta di lavorare su più livelli
)
*/
.box:hover{
  cursor: pointer;
  background-color: rgb(181, 251, 181);
}
