* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* small-mobile first */
ul {
    margin: 50px;
}

a {
    text-decoration: none;
    color: #000;
}

/* da tablet */
@media screen and (min-width: 780px) {
    ul {
        margin: 0;
        list-style-type: none;
        text-align: center;
    }

    li {
        display: inline-block;
        background-color: gray;
        color: white;
        padding: 0 20px;
    }

    a {
        color: #FFF;
    }
}
