* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  margin: 50px auto;
  width: 200px;
  height: 200px;
  background-color: blue;
  transition: background-color 2s;
}

.square:hover {
  background-color: red;
}